/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
	/* ajout */
	cursor: pointer;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* ajout */
.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: white;
	width: 100%;
	height: 0;
	cursor: default;
	transition: height 0.3s ease-in;
}
::backdrop {
	opacity: 0.3;
	background-color: black;
}   
/* Modifier */
.title-container{
	position: relative;
}
#open-modal-1 {
	position: absolute;
	font-weight: 500;
	font-size: 14px;
	top: 10px;
	text-decoration: none;
	color: black;
	font-family: 'Work Sans';
	right: 30%;
	cursor: pointer;
} 

/* filtres */
.container-filter {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 3.5em;
	gap: 1em;
}

.filter {
	padding: 10px 30px;
	border-radius: 60px;
	border: 1px solid #1D6154;
	color: #1D6154;
	background-color: white;
	font-weight: bold;
	cursor: pointer;
}

.selected {
	border-color: #1D6154;
	color: white;
	background-color: #1D6154;
}

.modal {
	width: 630px;
	/* height: 688px; */
	background-color: white;
	border-radius: 10px;
	border: none;
	padding: 0;
	overflow: hidden;
}
#modal1 {
	height: 688px;
}
#modal2 {
	height: 670px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
    margin: 0;
}

.header-modal-1 {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
	gap: 10px;
}

.modal-retour,
.modal-close {
	border: none;
	background-color: transparent;
	cursor: pointer;
}
.title-modal {
	font-family: inherit;
	color: inherit;
	font-weight: 500;
	font-size: 26px;
}
article {
	width: 100%;
	height: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.wrap-gallery-modal {
	display: flex;
	width: 100%;
	height: 370px;
	justify-content: center;
	overflow-x: auto;
	margin: 50px 0px 60px;
}
.gallery-modal {
	grid-template-columns: repeat(5, 1fr);
	width: 75%;
	grid-column-gap: 10px;
	grid-row-gap: 25px;
}

.gallery-modal figure {
	position: relative;
}

.gallery-modal .fa-trash-can {
	position: absolute;
	top: 5px;
	right: 5px;
	color: white;
	background-color: black;
	width: 17px;
	height: 17px;
	align-items: center;
	display: flex;
	justify-content: center;
	border-radius: 2px;
	cursor: pointer;
}
button {
	align-self: self-end;
}

h2 {
	align-self: center;
}

hr {
	width: 75%;
	height: 1px;
	border: none;
	background-color: #B3B3B3;
}

.modal input[type="submit"] {
	height: 36px;
	width: 237px;
	border: none;
	cursor: pointer;
}

/* modal 2 */
.header-modal-2 {
	width: 100%;
	display: flex;
	margin: 0 0 15px 0;
}

#ajouter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 420px;
}
#ajouter label {
	margin-bottom: 10px;
}
#ajouter input {
	margin-bottom: 20px;
}
#ajouter select {
	margin-bottom: 15px;
}
#ajouter hr{
	width: 100%;
}
.fichier {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 169px;
	background-color: #E8F1F6;
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 30px;
}

.fichier .fa-image {
	color: #B9C5CC;
}

.file-label {
	width: 173px;
	height: 36px;
	cursor: pointer;
	border-radius: 25px;
	background-color: #CBD6DC;
	text-align: center;
	line-height: 36px;
	color: #306685;
	font-weight: bold;
}

.subtitle-fichier {
	font-size: 10px;
	color: #444444;
}

input[type="file"] {
	opacity: 0;
	position: relative;
	z-index: -1;
}
#choixImage {
	/* border: 1px solid black; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	gap: 10px;
}

.image {
	width: 100%;
	object-fit: cover;
}

#imagePreview {
	/* border: 1px solid black; */
	display: none;
	align-items: center;
	justify-content: center;
	width: 130px;
	height: 193px;
}
#ajouter input[type="text"] {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	/* border: 1px solid grey; */
	border-radius: 4px;
	outline: none;
	text-indent: 10px;
}
.custom-select {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 25px;
}

.custom-select select {
	display: none;
	/* border: 1px solid grey; */
}

.custom-select .select {
	display: block;
	width: 100%;
	font-size: 16px;
	border-radius: 4px;
	appearance: none;
}

.custom-select i {
	position: absolute;
	top: 18px;
	right: 30px;
	/* transform: translateY(-50%); */
	color: #6C6C6C;
	pointer-events: none;
	/* permet aux clics de passer à travers */
}

.select {
	width: 100%;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	background-color: transparent;
	/* border: 1px solid grey; */
	text-indent: 5px;
	cursor: pointer;
}
#btn-valide[disabled] {
	background-color: #a7a7a7;
	cursor: not-allowed;
}

.message-error {
	height: 20px;
	color: rgb(220, 0, 0);
	font-size: 20px;
	margin: 15px;
}